{% extends 'base.html.twig' %}

{% block title %}Modifier Compétition{% endblock %}

{% block body %}

    <h1 class="text-center pt-5">Modifier Compétition</h1>

        {{ form(competitionForm) }}

{% endblock %}
