{% extends 'base.html.twig' %}

{% block title %}Ajouter une compétition{% endblock %}

{% block body %}

    <h1 class="text-center pt-5">Ajouter une compétition</h1>

        {{ form(competitionForm) }}

{% endblock %}
