{% extends 'base.html.twig' %}

{% block body %}

<h1 class ="text-center"> {{competition.nom}} </h1>

<p class ="text-center">{{competition.date | date('d/m/Y')}}</p>

<h3 class ="text-center"> Info </h3>
<p class ="text-center">{{competition.info}}</p>

<h3 class ="text-center"> Description </h3>
<p class ="text-center">{{competition.description}}</p>

{% endblock %}
