{% extends 'base.html.twig' %}

{% block title %}Ajouter une équipe
{% endblock %}

{% block body %}

	<h1 class="text-center pt-5">Ajouter une équipe</h1>

	<div class="text-center pt-5">
		<a href="{{ path('app_homepage_programme')}}" class=" btn btn-info ">Retour</a>
	</div>

	{{ form(equipeForm) }}{% endblock %}
